.main {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.navBar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 6vh;
    background-color: rgba(38, 71, 84, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    color: white;
    font-family: "General Sans";

    backdrop-filter: blur(10px);
}
/* .navBar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 6vh;
    background-color: rgba(38, 70, 83, 0.8);  Use rgba for transparency 
    backdrop-filter: blur(10px);  Apply a blur effect to the backdrop 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    color: white;
    font-family: "General Sans";
} 
*/
.navBar a {
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0 2%;
}
.navBar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #2a9d8f;
    transition: width 0.3s;
}
.navBar a:hover::after {
    width: 100%;
    /* transition: width .3s; */
}
.middle {
    width: 100%;
    height: 88vh;
    padding: 50px 100px;
    position: relative;
}
.heading {
    text-align: center;
    border-bottom: 2px solid #264653;
}

.container {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}
.Author {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.authorImage {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #264653;
}

.content {
    margin-right: 150px;
    height: 450px;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.content h3 {
    margin-bottom: 50px;
}
.content h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid #264653;
}
.topics {
    padding: 10px;
    font-family: sans-serif;
}
.topics :nth-child(odd) {
    padding: 5px 5px;
    font-size: 18px;
    background-color: #264653;
    color: white;
    border-radius: 5px;
}

/* media query */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .navBar {
        z-index: 300;
    }
    .navBar a {
        font-size: 15px;
    }
    .middle {
        padding: 10px 20px;
    }
    .heading h1 {
        font-size: 24px;
    }
    .content {
        margin-right: 0;
        margin-top: 50px;
    }
    .Author {
        margin-bottom: 50px;
    }
    .authorImage {
        width: 300px;
        height: 300px;
    }
    .content {
        height: 100%;
    }
    .content h3 {
        margin-bottom: 20px;
        text-align: center;
    }
    .content h4 {
        margin-bottom: 10px;
    }
    .topics {
        padding: 10px;
        font-family: sans-serif;
    }
    .topics :nth-child(odd) {
        padding: 5px 5px;
        font-size: 18px;
        background-color: #264653;
        color: white;
        border-radius: 5px;
    }
}
